* {
  margin: 0px;
  padding: 0px;
}
.card:hover {
  background-color: red;
  color: white;
}
.colorbg {
  /* background: rgb(107,96,96);
  background: linear-gradient(90deg, rgba(107,96,96,1) 10%, rgba(231,84,84,1) 45%, rgba(255,0,0,1) 100%, rgba(255,249,249,1) 100%); */
  /* background-color: #ff0000; */
  /* background-color: #b18d8d; */
  background-color: white;
}
.footer-section {
  box-shadow: 0 3px 10px 0 #aaa;
}

.card-title {
  text-align: center;
}
.card-text {
  font-size: 14px;
}
.navbar-brand img {
  padding-left: 50px;
}

.nav-item {
  border: 1px solid #ff0000;
  border-radius: 5px;
  margin-right: 10px;
  width: 82px;
}

.signup {
  width: 83px;
  height: 42px;
  background-color: #ff0000;
  color: white;
  border-color: rgb(255, 255, 255);
}
.signup:hover {
  background-color: #ff0000;
  border-color: rgb(230, 4, 4);
  color: white;
}

.mebtn {
  background-color: #ff0000;
}
.mebtn:hover {
  background-color: #ff0000;
  color: white;
}
.btnlast {
  margin-inline-end: 5%;
}
/* Add space between menu button and signup button */
.btnlast {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  justify-content: end;
  border-color: #ff0000;
  margin-left: 80%;
  color: white;
}

/* Adjust layout on smaller screens */
@media (max-width: 991px) {
  .btnlast {
    flex-direction: column;
    align-items: flex-end;
  }
}

/* cards */
.intro {
  text-align: center;
  /* padding-top: 100px; */
  /* margin-left: 150px; */
}
.intro h2 {
  color: rgb(255, 0, 0);
  margin-bottom: 30px;
}

.services {
  padding-top: 50px;
  text-align: center;
  color: #ff0000;
}

.coll {
  padding-top: 20px;
}

#btn2 {
  margin-top: 50px;
  /* margin-left: 570px; */
  /* width: 120px; */
  background-color: red;
}
.card {
  box-shadow: 0 3px 10px 0 #aaa;
}
.colpart {
}

/* counter */
.counters {
  display: flex;
  /* justify-content: space-evenly; */
  text-align: center;
}

.counterpart {
  display: flex;
  text-align: center;
  justify-content: center;
  /* margin-inline: 30%; */
  margin-top: 50px;
}

.counter {
  background-color: #000000;
  border-radius: 5px;
  height: 200px;
  width: 400px;
  /* margin-top: 50px; */
}

.counter:hover {
  background-color: rgb(255, 0, 0);
}

.count-title {
  color: #ffffff;
  font-size: 40px;
  font-weight: normal;
  margin-top: 35px;
  margin-bottom: 0;
  text-align: center;
  padding-top: 10%;
}

.count-text {
  color: #ffffff;
  font-size: 20px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0;
  text-align: center;
}

.col {
  margin-left: 200px;
}
.text-center {
  /* margin-right: 100px; */
  margin-top: 50px;
}

/* contact us */

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

.container-fluid {
  /* background: #ffffff; */
  color: #000000;
  font-weight: normal;
  font-size: 1em;
  font-family: "Roboto", Arial, sans-serif;
}

input:focus,
textarea:focus,
keygen:focus,
select:focus {
  outline: none;
}
::-moz-placeholder {
  color: #666;
  font-weight: 300;
  opacity: 1;
}

::-webkit-input-placeholder {
  color: #666;
  font-weight: 300;
}

/* Contact Form Styling */

.textcenter {
  text-align: center;
}
.section1 {
  text-align: center;
  display: table;
  margin-top: 50px;
  width: 100%;
}
.section1 .shtext {
  display: block;
  margin-top: 20px;
  color: #ff0000;
}
.section1 .seperator {
  border-bottom: 2px solid #000000;
  width: 35px;
  display: inline-block;
  /* margin: 20px; */
}

.section1 h1 {
  font-size: 40px;
  color: #a44dd8;
  font-weight: normal;
}

.section2 {
  /* width: 1200px;
    margin: 25px auto; */
}
.section2 .col2 {
  /* width: 48.71%; */
}
.section2 .col2.first {
  /* float: left; */
}
.section2 .col2.last {
  /* float: right; */
}
.section2 .col2.column2 {
  /* padding: 0 30px; */
}
.section2 span.collig {
  color: #a2a2a2;
  margin-right: 10px;
  display: inline-block;
}
.section2 .sec2addr {
  display: block;
  line-height: 26px;
}
.section2 .sec2addr p:first-child {
  margin-bottom: 10px;
}
.section2 .sec2contactform input[type="text"],
.section2 .sec2contactform input[type="email"],
.section2 .sec2contactform textarea {
  padding: 18px;
  border: 0;
  background: #ededed;
  margin: 7px 0;
}
.section2 .sec2contactform textarea {
  width: 100%;
  display: block;
  color: #666;
  resize: none;
}
.section2 .sec2contactform input[type="submit"] {
  padding: 10px 25px;
  color: #fff;
  border: 0;
  border-radius: 5px;
  /* background: #ff0000; */
  font-size: 14px;
  text-transform: uppercase;
  margin: 7px 0;
  cursor: pointer;
}
.section2 .sec2contactform h3 {
  font-weight: normal;
  margin: 20px 0;
  margin-top: 30px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 19px;
  color: #000000;
}
.section2 {
  margin-top: 50px;
}

/* @media querries */

@media only screen and (max-width: 1200px) {
  .section2 {
    width: 100%;
  }
}

@media only screen and (max-width: 960px) {
  .container {
    /* padding: 0 30px 70px; */
  }
  .section2 .col2 {
    width: 100%;
    display: block;
  }
  .section2 .col2.first {
    margin-bottom: 10px;
  }
  .section2 .col2.column2 {
    padding: 0;
  }
  body .sec2map {
    height: 250px !important;
  }
}
@media only screen and (max-width: 768px) {
  .section2 .sec2addr {
    font-size: 14px;
  }
  .section2 .sec2contactform h3 {
    font-size: 16px;
  }
  .section2 .sec2contactform input[type="text"],
  .section2 .sec2contactform input[type="email"],
  .section2 .sec2contactform textarea {
    padding: 10px;
    margin: 3px 0;
  }
  .section2 .sec2contactform input[type="submit"] {
    padding: 10px 30px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 420px) {
  .section1 h1 {
    font-size: 28px;
  }
}

/* footer */
h1,
h2,
h3,
h4,
h5,
h6 {
}
section {
  /* padding: 60px 0;
  min-height: 100vh; */
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-footer {
  position: relative;
  margin-top: 50px;
  /* background: rgb(245, 236, 236); */
  /* background-color: #ff0000; */
  background-color: #ffffff;
  box-shadow: 0 3px 10px 0 #aaa;
}

.footer-content {
  position: relative;
  padding: 85px 0px 80px 0px;
}

.footer-content .logo-widget {
  position: relative;
  margin-top: -5px;
}
.footer-content .logo-widget .footer-social li {
  position: relative;
  display: inline-block;
  margin-right: 9px;
}
.footer-content .logo-widget .footer-social li:last-child {
  margin-right: 0px;
}
.footer-content .logo-widget .footer-social li a {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 42px;
  line-height: 42px;
  background: #2e3138;
  color: #9ea0a9;
  text-align: center;
  border-radius: 50%;
}
.footer-content .logo-widget .footer-social li a:hover {
  color: #000000;
}
.footer-content .logo-widget .logo-box {
  /* margin-bottom: 25px; */
}
.footer-content .logo-widget .text p {
  /* color: #9ea0a9; */
  color: black;

  margin-bottom: 32px;
}
.footer-content .footer-title {
  position: relative;
  font-size: 24px;
  line-height: 35px;
  font-family: "Playfair Display", serif;
  color: #000000;
  font-weight: 700;
  margin-bottom: 27px;
  margin-top: 30px;
}
.footer-content .service-widget .list li {
  display: block;
  margin-bottom: 12px;
}
.footer-content .service-widget .list li a {
  position: relative;
  display: inline-block;
  /* color: #9ea0a9; */
  /* color: white; */
  color: black;
}
.footert p {
  color: black;
}
.footer-content .service-widget .list li a:hover {
  /* color: #ff5e14; */
  color: black;
}
.footer-content .contact-widget p {
  /* color: #9ea0a9;
  margin-bottom: 15px; */
}
.footer-content .contact-widget {
  margin-left: 90px;
}
.footer-content .contact-widget .footer-title {
  margin-bottom: 29px;
}

/** footer-bottom **/

.footer-bottom {
  position: relative;
  background: #13151a;
  padding: 25px 0px 22px 0px;
}
.footer-bottom .copyright,
.footer-bottom .copyright a,
.footer-bottom .footer-nav li a {
  position: relative;
  color: #9ea0a9;
}
.footer-bottom .copyright a:hover,
.footer-bottom .footer-nav li a:hover {
  color: #ff0000;
}
.footer-bottom .footer-nav {
  position: relative;
  text-align: right;
}
.footer-bottom .footer-nav li {
  position: relative;
  display: inline-block;
  margin-left: 29px;
}
.footer-bottom .footer-nav li:first-child {
  margin-left: 0px;
}
.footer-bottom .footer-nav li:before {
  position: absolute;
  content: "";
  background: #9ea0a9;
  width: 1px;
  height: 14px;
  top: 7px;
  left: -18px;
}
.footer-bottom .footer-nav li:first-child:before {
  display: none;
}
.logo-box img {
  max-width: 220px;
}

/* footercss */
ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
  background: #ffffff;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  /* margin-bottom: 30px; */
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg {
  background: #3b5998;
}
.twitter-bg {
  background: #55acee;
}

.footer-widget-heading h3 {
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  /* background: #ff0000; */
}
.footer-widget ul li {
  /* display: inline-block;
  float: left;
  width: 50%; */
  margin-bottom: 12px;
}
.footer-widget ul li a:hover {
  color: #ff0000;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2e2e2e;
  border: 1px solid #2e2e2e;
  color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #ff5e14;
  padding: 13px 20px;
  border: 1px solid #ff5e14;
  top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area {
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a {
  color: #ff0000;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a {
  color: #ff0000;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}
/* contact form  */

.contact-form-wrapper {
  /* padding: 100px 0; */
}
.allrows {
  display: flex;
  justify-content: center;
}

.contact-form {
  padding: 30px 40px;
  background-color: #ffffff;
  border-radius: 12px;
  /* max-width: 400px; */
}

.contact-form textarea {
  resize: none;
}

.contact-form .form-input,
.form-text-area {
  background-color: #f0f4f5;
  height: 50px;
  padding-left: 16px;
}

.contact-form .form-text-area {
  background-color: #f0f4f5;
  height: auto;
  padding-left: 16px;
}

.contact-form .form-control::placeholder {
  color: #aeb4b9;
  font-weight: 500;
  opacity: 1;
}

.contact-form .form-control:-ms-input-placeholder {
  color: #aeb4b9;
  font-weight: 500;
}

.contact-form .form-control::-ms-input-placeholder {
  color: #aeb4b9;
  font-weight: 500;
}

.contact-form .form-control:focus {
  border-color: #ff0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07), 0 0 8px #ff0000;
}

.contact-form .title {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.contact-form .description {
  color: #aeb4b9;
  font-size: 14px;
  text-align: center;
}

.contact-form .submit-button-wrapper {
  text-align: center;
}

.contact-form .submit-button-wrapper input {
  border: none;
  border-radius: 4px;
  background-color: #ff0000;
  color: white;
  text-transform: uppercase;
  padding: 10px 60px;
  font-weight: 500;
  letter-spacing: 2px;
}

.contact-form .submit-button-wrapper input:hover {
  background-color: #ff0000;
}
/* media query  */
/* Styles for screens with a maximum width of 1200px */
@media (max-width: 1200px) {
  /* Your styles for this screen size */
}

/* Styles for screens with a maximum width of 992px */
@media (min-width: 900px) and (max-width: 1120px) {
  /* Your styles for this screen size */
  .signup {
    font-size: 12px;
    font-weight: 500;
  }
  .counterpart {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-inline: 30%;
    /* margin-top: 0px; */
  }
  .menu {
    font-size: 14px;
  }
  .dropdown-menu {
    left: auto;
    right: 100%; /* Push the dropdown to the left side */
    margin-right: 10px; /* Add some spacing between the menu and its trigger */
  }

  /* Adjusting the sub-menu items */
  .dropdown-menu > li {
    text-align: right; /* Align menu items to the right */
  }
  .btnlast {
    margin-inline: -1%;
  }
  .counterpart {
    display: flex;
    text-align: center;
    justify-content: center;

    /* margin-inline: 30%; */
    /* margin-top: 0px; */
  }
}

@media (max-width: 820px) {
  .counterpart {
    display: flex;
    text-align: center;
    justify-content: center;

    margin-inline: 30%;
    /* margin-top: 0px; */
  }
}
/* Styles for screens with a maximum width of 768px */
@media (max-width: 768px) {
  .menu {
    display: flex;
    justify-content: center;
    margin-left: 0%;
  }
  .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .signup {
    margin-top: 14px;
  }
  .counterpart {
    display: block;
  }
  .custom-width-column {
    flex: 0 0 50%; /* Set the desired width here, e.g., 50% */
    max-width: 50%; /* Ensure the column doesn't exceed 50% width */
  }
  .max-width-paragraph {
    width: 300px; /* Set the desired maximum width */
  }
  fkl {
    background-color: white;
    /* font-weight: 500; */
    font-family: Roboto, sans-serif;
    padding: 15px 25px;
    box-sizing: border-box;
    top: 5px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    /* left: 50%; */
    max-width: 375px;
    position: absolute;
    transform: translateX(-50%);
    width: calc(100% - 10px);
    z-index: 1;
    margin-left: 202px;
  }
  .footer-text p {
    /* margin-bottom: 14px; */
    /* font-size: 14px; */
    /* color: #7e7e7e; */
    line-height: 28px;
  }
}

/* Styles for screens with a maximum width of 575px */
@media (max-width: 575px) {
  /* Your styles for this screen size */
}

/* Styles for screens with a maximum width of 420px */
@media (max-width: 420px) {
  .footer-bottom .copyright,
  .footer-bottom .copyright a,
  .footer-bottom .footer-nav li a {
    position: relative;
    color: #9ea0a9;
    text-align: center;
  }
  .footer-bottom .footer-nav {
    position: relative;
    text-align: center;
  }

  .counterpart {
    display: flex;
    text-align: center;
    justify-content: center;
    /* margin-inline: 30%; */
    margin-top: 0px;
  }
  .section2 {
    width: auto;
    margin-top: 0%;
  }
  /* Your styles for this screen size */
}

/* Styles for screens with a maximum width of 350px */
@media (max-width: 350px) {
  /* Your styles for this screen size */
  .navbar-brand img {
    padding-left: 0px;
  }
  .counter {
    background-color: #000000;
    border-radius: 5px;
    height: 200px;
    width: 300px;
    /* margin-top: 50px; */
  }
}
